{% extends "base.html" %}
{% load static %}

{% block headtitle %}About - {{PORTAL_NAME}}{% endblock headtitle %}

{% block headermeta %}
<meta property="og:title" content="About - {{PORTAL_NAME}}">
<meta property="og:type" content="website">
<meta property="og:description" content="">

<meta name="twitter:card" content="summary">

<script type="application/ld+json">
{
	"@context": "https://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [{
		"@type": "ListItem",
		"position": 1,
        "name": "{{PORTAL_NAME}}",
        "item": {
			"@type": "WebPage",
	        "@id": "{{FRONTEND_HOST}}"
	    }
    },
    {
		"@type": "ListItem",
		"position": 2,
        "name": "About",
        "item": {
			"@type": "AboutPage",
	        "@id": "{{FRONTEND_HOST}}/about"
	    }
    }]
}
</script>
<link href="{% static "css/about.css" %}" rel="stylesheet"/>
{% endblock headermeta %}

{% block innercontent %}

<div class="custom-page-wrapper">
	<h2>About</h2>
	<hr/>
	
	<p><a href="https://sightings.live">Sightings</a> is the premier platform for watching and analyzing UFO/UAP videos from around the world.</p>

	


	<div class="section-1200w">
		<div class="main-content-wrapper bottom-border">
		  <div class="block">
			<div class="column">
			  <h2>The Vision</h2>
			  <p>We do this not because it is easy, nor because it is hard, but to lay the foundation for a world in which the civilians of Earth interact openly, freely, and peacefully with the civilians of other worlds.</p>
			</div>
			<div class="column">
			  <h2>The Problem</h2>
			  <p>Seeing a UFO, a craft possibly from another world, or possibly from a breakaway civilization, either way, is one of the most profound experiences a human being can have, and yet... </p>
			</div>
			<div class="column">
			  <p>If you see one, there is no one to call and no way to figure out what you saw exactly. In fact, if you tried looking into it, you would almost certainly be ridiculed for your trouble. </p>
			</div>
			<div class="column">
			  <p>The best you can do is fill out a long form on a UFO reporting website and let it go.</p>
			</div>
			<p class="column">Conversely, we see that many people actually want to know about life beyond that of Earth. They just have trouble getting information from the authorities they depend on. </p>
			<p class="column">For decades people around the world have called on their leaders to disclose the truth about UFOs and for just as long these leaders have smiled and changed the subject.</p>
			<p class="column">And very few people who have had a sighting, regardless of whether they are civilian or from the armed forces, are willing to talk about it, out of fear of ridicule and potential career obstacles. </p>
			<p class="column tldr">People who have seen UFOs long to talk about them, and people who are curious about UFOs long to ask about them, but neither take action, because they are afraid of ridicule and repercussions. </p>
			<p class="column">In a perfect world, they would just talk to each other, but in this world the power of ridicule and the fear of repercussions keep them apart.</p>
			<p class="column tldr">How can we end the stigma around UFOs?</p>
		  </div>
		</div>
	  </div>
	  <div class="section-1200w">
		<div class="main-content-wrapper bottom-border">
		  <div class="div-block-6">
			<div class="column-2">
			  <h2>The Solution</h2>
			</div>
		  </div>
		  <div class="block-2">
			<p class="column-2">There are always more ways than one to accomplish anything. We’ve identified 3 paths that can lead to the end of the stigma around UFOS:</p>
			<p class="column-2">1.    The first is a full-scale alien invasion. Even the most persistent UFO sceptic will have a hard time saying UFOs aren’t real when one is lasering his or her car. However, for obvious reasons this path is rather undesirable. </p>
			<p class="column-2">2.    The second is official government disclosure. Once world leaders reveal the truth about UFOs, the stigma will be gone forever. However, for historical reasons this path is quite unlikely.</p>
			<p class="column-2">3.    The third path is to <span class="tldr">drench the world in an abundance of incontrovertible proof of UFOs so that the concept of a UFO becomes credible.</span> This third path is the one we choose.</p>
			<p class="column-2">Rather than wait for an alien invasion or wait for a government authority to say “UFOs are real,” then dump a mountain of blanked out papers, faded photos, and grainy videos on us to root through, we civilians choose to build our own modern repository of UFO data.</p>
			<p class="column-2">Rather than try to get old disjointed information from the government, we choose to compile new transparent information ourselves starting now.</p>
			<p class="column-2">There’s no need to wait for a mothership to land. There is no need to sift through outdated archives. UFOs are seen in our skies every day. We just need to start recording them systematically. <br></p>
			<p class="tldr column-2">Let’s use our phones and pro cameras to crowdsource an enormous amount of high-quality UFO data and continually make that data available to the world until UFOs become globally accepted as real and present.<br></p>
		  </div>
		</div>
	  </div>
	  <div class="section-1200w">
		<div class="how-it-works-wrapper bottom-border">
		  <div class="div-block-6">
			<div class="column-2">
			  <h2>How It Works</h2>
			</div>
		  </div>
		  <div class="block-3 bottom-border">
			<div class="column-2">
			  <p>A sighting filmed by one person does not mean much these days. It could have been expertly faked on a computer by a malicious hoaxer. To combat this deception, we need sightings to be confirmed by multiple witnesses.</p>
			</div>
			<p class="column-2">That’s why <span class="tldr">we provide a mobile app through which people who are seeing a UFO can immediately share the sighting with interested people nearby, so that those people can go outside and confirm that the sighting is really happening.</span><br></p>
			<p class="column-2">Now, just because multiple people are seeing something does not mean this thing is otherworldly. We need to filter actual otherworldly phenomena from initially unrecognized but otherwise known phenomena. <br></p>
			<p class="column-2">That’s why <span class="tldr">we encourage all witnesses to film the event from their point of view and to explain what they think they are seeing.</span><br></p>
			<p class="column-2">When none of the witnesses can give a satisfactory explanation of the sighting, we are left with a confirmed sighting of an unidentified object with multiple recordings from different angles. This is the data we want the world to examine to learn if it is in fact otherworldly.<span class="tldr"></span><br></p>
			<p class="column-2">That’s why <span class="tldr">we provide a video platform on which all recordings are stored and where all recordings of an event are stored in a related manner, so that it is easy for users to examine an event from different angles.</span><br></p>
		  </div>
		  <div class="div-block-6">
			<div class="column-2">
			  <h2>Actual Steps</h2>
			</div>
		  </div>
		  <div class="block-4">
			<div class="column-3">
			  <p><strong>Upon seeing an otherworldly craft:</strong><br></p>
			  <ol role="list" class="steps-list">
				<li class="list-item">You have one job: Open the app and start streaming to notify others nearby.</li>
			  </ol>
			</div>
			<div class="column-3">
			  <p><strong>Upon receiving the notification: </strong><br></p>
			  <ol role="list" class="steps-list">
				<li>Start viewing the stream and determine if the sighting is relevant.</li>
				<li>If so, go outside with several others and confirm if the sighting is real. </li>
				<li>If so, stream the sighting from your point of view, or</li>
				<li>Film the sighting from your point of view with your best equipment and upload the video to the platform later. </li>
			  </ol>
			</div>
			<div class="column-3">
			  <p><strong>On the platform:</strong><br></p>
			  <ol role="list" class="steps-list">
				<li>The live streams and the uploads are saved for analysis, discussions, and your viewing pleasure.</li>
				<li>As a community we analyze and explain the sighting.</li>
				<li>If the data is clear and yet the phenomena cannot be identified, we tag and promote the sighting as potentially otherworldly.</li>
			  </ol>
			</div>
		  </div>
		</div>
	  </div>
	  <div class="section-1200w">
		<div>
		  <h2><span>E</span>ffectiveness</h2>
		  <p class="paragraph-4">The Phoenix Lights event of 1997 is one of the most widely witnessed UFO events of all time. And yet, it only has a few scattered images and recordings to show for itself. Such was the state of technology in 1997. But if something on the scale of the Phoenix Lights were to occur after we launch, one person will start streaming and everyone in the city with the app will get notified. Then all these people and their friends will go outside with their phones, binoculars, telescopes, Sony A7SII low light cameras, and what else have you, and record every angle of those“flares”and “airplanes,&quot; zoomed in and out, such that there will be an abundance of high quality research material available on the platform forever. And as more and more people publish their findings, the stigma associated with UFOs will fade away.</p>
		</div>
	  </div>
	  <div class="footer">
		<div class="shopenhauer section-1200w">
		  <p class="borderless">“All truth passes through three stages. First, it is ridiculed. Second, it is violently opposed. Third, it is accepted as being self-evident.”<br> – Arthur Schopenhauer </p>
		  <p class="paragraph-3 borderless">Let’s move things along from ridicule to being accepted as self-evident already!</p>		  
		</div>
		
	  </div>


</div>
{% endblock %}
