{% extends "base.html" %}
{% load static %}

{% block headermeta %}

<link rel="canonical" href="{{FRONTEND_HOST}}{{media_object.get_absolute_url}}">

<meta property="og:title" content="{{PORTAL_NAME}}">
<meta property="og:url" content="{{FRONTEND_HOST}}">
<meta property="og:type" content="website">
<meta property="og:description" content="The premier platform for watching and analyzing UFO/UAP videos from around the world.">
<meta property="og:image" content="{{FRONTEND_HOST}}{% static 'images/og-image.png' %}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@SightingsLive">

<script type="application/ld+json">
{
	"@context": "https://schema.org",
	"@type": "WebSite",
	"url": "{{FRONTEND_HOST}}",
	"potentialAction": {
		"@type": "SearchAction",
		"target": "{{FRONTEND_HOST}}/search?q={search_query_string}",
		"query-input": "required name=search_query_string"
	}
}
</script>

<script type="application/ld+json">
{
	"@context": "https://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [{
		"@type": "ListItem",
		"position": 1,
        "name": "{{PORTAL_NAME}}",
        "item": {
        	"@type": "WebPage",
        	"@id": "{{FRONTEND_HOST}}"
    	}
    }]
}
</script>
<link href="{% static 'css/popup.css' %}" rel="stylesheet"/>
{% endblock headermeta %}

{% block content %}

<div class=bg-modal>
	<div class=modal-content>		
		
		<div class=modal-header>
			<div class=close-modal> + </div>
			<h2>What To Do On Sightings Right Now</h2>
		</div>
				
		<div class=modal-text>
			<p>Let's end the stigma around UFOs and uncover what they really are. 🛸 </p>
				
			<h3>Two VERY IMPORTANT notes!:</h3>
			<ul>
				<li>This is an alpha version, and there will be a lot of work and changes over the next few weeks.</li>
				<li>There will be some bugs and issues. Please report them using the contact section in the sidebar.</li>
			</ul>		
			
			<h3>To help you get started, here are the features already available in this alpha:</h3>
			<ul>
				<li>Upload photos and videos that you have taken of UFOs/UAPs.</li>
				<li>Categorize them as “Evidence”.</li>
				<li>Upload an audio or video recording where you share your UFO sighting.</li>
				<li>Categorize it as “Testimonies”.</li>
				<li>Tag your pictures, audios, and videos so others can find them. There are helpful hints.</li>
				<li>Comment on available pictures, audios, and videos.</li>
				<li>Tell your friends!</li>
			</ul>
		
			<h3>And here are some of the features that will be released over the next few weeks:</h3>
			<ul>
				<li>Automatically extract and display the recorded date and location information.</li>
				<li>Manually relating pictures, audios, and videos to each other.</li>
				<li>Automatically relating evidentiary videos to each other based on metadata.</li>
				<li>And the big one: Send and receive notifications of weirdness happening nearby!</li>
			</ul>
			
		    <p>That's all for now.</p>
		</div>
	</div>
</div>

<div class=newsBtn>NEWS</div>

<div id="page-home"></div>

{% endblock %}

{% block bottomimports %}
<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/popup.js' %}"></script>
{% endblock bottomimports %}
